@font-face {
    font-family:'Oswald';
    src: url('fonts/Oswald-Regular.eot');
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Regular.woff2') format('woff2'),
    url('fonts/Oswald-Regular.woff') format('woff'),
    url('fonts/Oswald-Regular.ttf') format('truetype'),
    url('fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Myriad Pro';
    src: url('fonts/MyriadPro-Bold.eot');
    src: url('/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('fonts/MyriadPro-Bold.woff') format('woff'),
    url('fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 30px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Myriad Pro';
}
.container{
    max-width: 882px;
    margin: auto;
}
.container_black{
    background-color: black;
    color: white;
    margin-bottom: 5px;
}
.container_gray {
    background-color: #c4c4c4;
    color: white;
    margin-bottom: 5px;
}
.block_1 {
    font-size: 48px;
    font-family: 'Myriad Pro';
    padding-right: 45px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 24px;
    padding-top: 24px;
}
.block_2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Oswald';
}

.container_description{
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;


}
.description_1{
    font-size: 40px;
    font-family: 'Myriad Pro';

}
.description_2{
    font-size: 24px;
    font-family: 'Oswald';
}
.description_3{
    font-size: 18px;
    padding-top: 10px;
    font-family: 'Oswald';
}


.container_after_dinner {
    max-width: 882px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.border{
    max-width: 882px;
    margin: auto;
    border: solid 1px black;
    width: 690px;
    position: relative;
    bottom: 60px;
    z-index: -1;


}
.block_after_dinner{
    padding-top: 30px;
    width: 24%;
    margin-left: -82px;

}

.after_dinner0 {
    font-size: 24px;
    font-family: 'Myriad Pro';
}

.after_dinner1{
    font-size: 24px;
    font-family: 'Myriad Pro';
    padding-left: 85px;
}

.after_dinner2{
    font-size: 16px;
    font-family: 'Oswald';
}



.baggage{
    max-width: 600px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}

.baggage .description_1{
    padding-left: 13px;
    padding-top: 15px;
}

.baggage .description_2{
    padding-left: 35px;
    padding-top: 23px;
}

@media only screen and (max-width: 768px) {
    .baggage{
        margin-left: 120px;
    }

    .border{
        display: none;
    }
}

@media only screen and  (max-width: 576px) {
    .container_description{
      display: flex;
      flex-direction: column;

     }
    .container_description img{
     width: 200px;
    }

    .container_after_dinner{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .baggage{
        margin-left: 0;

    }
    .baggage_img{
        display: none;
    }
}

